@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="../../Content/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <h2 id="nick" style="text-align:center">Noname</h2>
    <div class="main">
        <div id="loginBlock" class="col-sm-offset-5 col-sm-2">
            Введите логин:<br />
            <input id="txtUserName" type="text" />
            <input id="hdId" type="hidden" />
            <input id="username" type="hidden" />
            <input id="btnLogin" type="button" value="Войти" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4 col-sm-offset-2" id="users">
            <p><b>Players</b></p>
        </div>
        <div class="col-sm-4" id="battles">
            <p><b>Battles</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 col-sm-offset-2" id="confirm">
            <p><b>No invitions</b></p>
        </div>
    </div>

    <div id="body" style="display:none">
        <div id="container">
            <table>
                <tr>
                    <td id="p1" class="box"></td>
                    <td id="p2" class="box v"></td>
                    <td id="p3" class="box"></td>
                </tr>
                <tr>
                    <td id="p4" class="box h"></td>
                    <td id="p5" class="box v h"></td>
                    <td id="p6" class="box h"></td>
                </tr>
                <tr>
                    <td id="p7" class="box"></td>
                    <td id="p8" class="box v"></td>
                    <td id="p9" class="box"></td>
                </tr>
            </table>
            <input id="homebut" type="button" value="Home" />
        </div>
    </div>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ticTacToe.js"></script>
</body>
</html>